.color{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.pixel{
    border: 1px solid black; 
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
}

 #pixel-board{
    background-color: rgb(255, 255, 255);
    height: 210px;
    width: 212px;  
    border: 1px solid black; 
} 

    #pixel-board div{ /* ref.: https://stackoverflow.com/questions/18315507/remove-margin-between-divs*/
    margin: 0;
    padding: 0;
    float: left; 
}  

button{
    margin: 2px;
}